<h1 style="text-align:center;">Who is Bill Wagner?</h1>
<h2 style="text-align:center;">This is my CareerFoundry project portfolio!</h2>
<div class="bill-image">
	<%= image_tag("/assets/BillW_0144.jpg", :alt => "Bill") %>
</div>

<h3 style="text-align:center;">Coursework completed between November 2016 and August 2017.</h3>
<p></p>
<p></p>

<p>Find me in app/views/static_pages/about.html.erb</p>
