// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	font-weight: 700px;
}

body {
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 40px;
	background-color: pink;
}

.navbar {
 	
 	background-color: red;
 	position: inline-block;
 	width: 100%;
 	z-index: 1;

 }

 .navbar ul li {
 	color: white;
 	display: inline-block;
 	text-align: center;
 	float: right;
 	padding-right: 25px;
 	font-size: large;
 }

 .navbar :hover {
 	color: green;
 	text-decoration: none;
 }

 .img-responsive {
 	display: inline-block;
 	padding-top: 50px;
 	margin: 0;
 	max-width: 240px;
 	max-height: 240px;
 }

 p {
 	font-weight: bold;
 }

 .footer {
 	float: right;
 }