// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-radius: 0;
}

body {
	padding-top: 40px;
}

.navbar {
 	display: inline-block;
 	background-color: black;
 	position: fixed;
 	width: 100%;
 	z-index: 1;

 }

 .navbar ul li {
 	text-color: white;
 }