<p id="notice"><%= notice %></p>

<h1>Products</h1>


  <div class="conatainer-fluid">
    

      <% @products.each do |product| %>
      	<%= @test_variable %>
        <div class="row">
          <%= render 'product', product: product %>
        </div>
      <% end %>

    
  </div>

  


<br>

<%= link_to 'New Product', new_product_path %>
