<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="col-sm-2 col-md-8">
  <!-- <div class="container-fluid"> -->
        <!-- <div class="row"> -->
    	<% cache(cache_key_for_products) do %>
        	<%= render @products %>
        <% end %>	
        <!-- </div>     
  </div> -->
</div>

  <br>